

body
{
	background-color: #ffcccc;
	text-align: center;
	margin-top: 1cm;
	margin-bottom:1cm;
}

p 
{
	font-family: "Times New Roman";
	font-size: 35px;
	color: #6600ff;
	text-align:center;
	padding:15px;
}

a
{
	color: #6600ff;
	font-size:24px;
	white-space: pre;
}

.center
{
	margin-left: auto;
	margin-right: auto;	
	width: 70%;
	background-color: #ff99cc;
	text-align:center;
	padding:5px;	
	color: #003333;
	display: block;
}

h1
{
	color: #cc0066;
	text-align:center;
	padding:15px;
}

header
{
	color: #cc0066;
	text-align:center;
	padding:15px;
	width: 70%;
}

table 
{
	border-collapse: collapse;
	width: 50%;
	margin-left: auto;
	margin-right: auto;	
}

table, th, td 
{
	border: 1px solid purple;
}

td 
{    
	background-color: #ffccff;
    padding: 15px;
}
